<br />
<div class="container">
  <div class="card">
    <div class="card-header bg-secondary text-white">
      Déclarer un problème
    </div>
    <div class="card-body">
      <h5 class="card-title">Veuillez renseigner les zones suivante et soumettre votre demande</h5>
      <div class="card-text">
        <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenom" class="col-md-2 col-form-label text-right">Prénom</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="prenom" placeholder="Votre prénom ici (obliagtoire)" formControlName="prenom" 
              [ngClass]="{'is-invalid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && (problemeForm.get('prenom').errors.longueurMinimum 
              || problemeForm.get('prenom').errors.required),
              'is-valid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && !problemeForm.get('prenom').errors.longueurMinimum 
              && !problemeForm.get('prenom').errors.required }">
              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && problemeForm.get('prenom').errors">
                <span *ngIf="problemeForm.get('prenom').errors.longueurMinimum && !problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Merci de saisir votre prénom.
                  </small>
                </span>
              </span>         
            </div>
            <label for="problem" class="col-md-2 col-form-label text-right">Type de problème</label>
            <div class="col-md-10">
              <select class="form-control" id="noProblemeId">
                <option value="0">Sélectionner un problême</option>
                <option value="1">Problème avec la souris</option>
                <option value="2">Problème de clavier</option>
                <option value="3">Problème d'accès Internet</option>
                <option value="4">Problème avec un logiciel</option>
                <option value="5">Problème d'imprimante</option>
                <option value="6">Carte graphique</option>
                <option value="7">Carte mère</option>
                <option value="8">Autre</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>