<br />
<div class="container">
  <div class="card">
    <div class="card-header bg-secondary text-white">
      Déclarer un problème
    </div>
    <div class="card-body">
      <h5 class="card-title">Veuillez renseigner les zones suivante et soumettre votre demande</h5>
      <div class="card-text">
        <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenom" class="col-md-2 col-form-label text-right">Prénom</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="prenom" placeholder="Votre prénom ici (obliagtoire)" formControlName="prenom" 
              [ngClass]="{'is-invalid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && (problemeForm.get('prenom').errors.longueurMinimum 
              || problemeForm.get('prenom').errors.required),
              'is-valid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && !problemeForm.get('prenom').errors.longueurMinimum 
              && !problemeForm.get('prenom').errors.required }">
              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && problemeForm.get('prenom').errors">
                <span *ngIf="problemeForm.get('prenom').errors.longueurMinimum && !problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Merci de saisir votre prénom.
                  </small>
                </span>
              </span>         
            </div>
          </div>
          <div class="form-group row">
            <label for="prenom" class="col-md-2 col-form-label text-right">Nom</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="nom" placeholder="Votre prénom ici (obliagtoire)" formControlName="nom" 
              [ngClass]="{'is-invalid': (problemeForm.get('nom').touched || problemeForm.get('nom').dirty) && (problemeForm.get('nom').errors.longueurMinimum 
              || problemeForm.get('nom').errors.required),
              'is-valid': (problemeForm.get('nom').touched || problemeForm.get('nom').dirty) && !problemeForm.get('nom').errors.longueurMinimum 
              && !problemeForm.get('nom').errors.required }">
              <span class="form-text" *ngIf="(problemeForm.get('nom').touched || problemeForm.get('nom').dirty) && problemeForm.get('nom').errors">
                <span *ngIf="problemeForm.get('nom').errors.longueurMinimum && !problemeForm.get('nom').errors.required">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('nom').errors.required">
                  <small class="text-muted">
                    Merci de saisir votre nom.
                  </small>
                </span>
              </span>         
            </div>
          </div>
            <div class="form-group row">
            <label for="noProblemId" class="col-md-2 col-form-label text-right">Type de problème</label>
            <div class="col-md-10">
              <select class="form-control" id="noProblemeId" formControlName="noTypeProbleme"
              [ngClass]="{'is-invalid': (problemeForm.get('noTypeProbleme').touched || problemeForm.get('noTypeProbleme').dirty) && !problemeForm.get('noTypeProbleme').valid,
              'is-valid': (problemeForm.get('noTypeProbleme').touched || problemeForm.get('noTypeProbleme').dirty) && problemeForm.get('noTypeProbleme').valid}">
                <option value="">Sélectionner un type problême de problème (obligatoire)...</option>
                <option *ngFor="let cat of typeProblemeProduit" [value]="cat.id">{{cat.descriptionTypeProbleme}}</option>
              </select>
              <span class="form-text" *ngIf="(problemeForm.get('noTypeProbleme').touched || problemeForm.get('noTypeProbleme').dirty) && problemeForm.get('noTypeProbleme').errors">
                <span *ngIf="!problemeForm.get('noTypeProbleme').valid">
                  <small class="text-muted">
                    Merci de sélection un type de problème.
                  </small>
                </span>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>